/* general */

.text--header {
  color: var(--dark-grayish-blue);
  font-weight: 600;
}

.text--body {
  color: var(--grayish-blue);
}

button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;

  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
}

.button--ios {
  background: var(--strong-cyan);
  box-shadow: 0 3px 0 0 var(--clr-button-accent-cyan);
}

.button--mac {
  background: var(--light-blue);
  box-shadow: 0 3px 0 0 var(--clr-button-accent-blue);
}

button:hover {
  cursor: pointer;
  opacity: 70%;
}

/* header */

.header {
  max-width: 650px;
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

.header__button-container {
  display: flex;
  gap: 2rem;
}