:root {
  /* colors */
  --strong-cyan: hsl(171, 66%, 44%);
  --clr-button-accent-cyan: hsl(170, 69%, 37%);
  --light-blue: hsl(233, 100%, 69%);
  --clr-button-accent-blue: hsl(233, 69%, 60%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;

  /* font */
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

body {
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("./assets/images/bg-header-desktop.png");
  background-repeat: no-repeat;
}